:root {
    --primary-light: #ddd;
    --primary-dark: #222831;
    --secondary-dark: #393e46;
    --secondary-dark-hover: #4a4f57;
    --secondary-dark-active: #5b5f68;
    --header: #111720;
    --primary-yellow: #fac650;
    --white: #ffffff
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
body {
    height: 100vh;
}
header, footer {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--header);
    color: var(--primary-light);
}
.title {
    font-size: 48px;
    letter-spacing: 8px;
    font-family: 'Supermercado One', cursive;
}
main {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.scores {
    display: flex;
}
.none {
    display: none;
}
footer {
    font-size: 16px;
    font-family: 'Supermercado One', cursive;
}